{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'subhub/styles.css' %}">
</head>
<body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="login-container">
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <a href="{% provider_login_url 'google' %}">  <!-- This is the oAuth button-->
            <img src="{% static 'subhub/google_signin.jpg' %}" style="width: 200px; cursor: pointer;">
        </a>
    </div>

    <!-- This Javascript causes messages like login success to only show for 3 seconds-->
    <script>
    
    setTimeout(function() {
        document.querySelectorAll('.messages').forEach(function(el) {
        el.style.display = 'none';
        });
    }, 3000);

    </script>
</body>
</html>