{% extends 'subhub/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'subhub/styles.css' %}">
</head>
<body>
    <p1></p1>


    <div class="login-container" style="padding-top: 20px;"> <!-- Added padding to the top-->
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <a href="{% provider_login_url 'google' %}">  <!-- This is the oAuth button-->
            <img src="{% static 'subhub/google_signin.jpg' %}" style="width: 200px; cursor: pointer;">
        </a>
    </div>
    {% if request.user.is_authenticated %}
                    <a href="{% url 'subhub:home' %}">Home</a> <span>| Username: {{ request.user.profile.nickname }} | Balance:</span>
                    <div
                        class="bal"><span>${{ request.user.profile.balance }}</span>
                    </div>
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% endif %}
    <!-- This Javascript causes messages like login success to only show for 3 seconds-->
    <script>
    
    setTimeout(function() {
        document.querySelectorAll('.messages').forEach(function(el) {
        el.style.display = 'none';
        });
    }, 3000);

    </script>
</body>
</html>
{% endblock %}