{% extends 'subhub/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>subhub Homepage</title>
    <link rel="stylesheet" href="{% static 'subhub/styles.css' %}">
</head>
<body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- This Javascript causes messages like login success to only show for 3 seconds-->
    <script>
    
    setTimeout(function() {
        document.querySelectorAll('.messages').forEach(function(el) {
        el.style.display = 'none';
        });
    }, 3000);

    </script>


<div class="main">
    <h1>Add a new subscription</h1>
  <!--  <form method="post">               REVIEW WHY THIS ONE DOESNT WORK
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">'subhub:add_subscription'</button>
    </form> -->

    <form method="post" action="{% url 'subhub:add_subscription' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Subscription</button>
</form>

</div>
</body>
</html>
{% endblock %}
