{% extends 'subhub/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>subhub Homepage</title>
    <link rel="stylesheet" href="{% static 'subhub/styles.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'subhub/logo_90.jpg' %}" alt="Logo">
        </div>
        <div class="user-info">
            <span>{{ request.user.username }}</span>
            <form action="{% url 'users:logout' %}" method="post" style="margin: 0; margin-left: 20px;">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>   
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- This Javascript causes messages like login success to only show for 3 seconds-->
    <script>
    
    setTimeout(function() {
        document.querySelectorAll('.messages').forEach(function(el) {
        el.style.display = 'none';
        });
    }, 3000);

    </script>
</body>
</html>
{% endblock %}